.header {
    background-color: #222;
    height: 32px;
    padding: 8px 32px 8px 16px;
    display: grid;
    grid-template-columns: auto auto;
}

.logo {
    height: 32px;
}

.rightSide {
    display: grid;
    justify-content: end;
}